<%- include('./partials/header.ejs') %>
<div style="margin-left: 500px;margin-top: 17px;">
<form action="/jobs" method="get">
    <input type="text" name="search">
    <input type="submit" value="search">
</form>
</div>

    <h1 style="margin-left: 400px;margin-top: 17px;">List of all jobs</h1>
    <a class="btn btn-danger" href="/jobs/new">Add a new job</a>
    <div class="container text-center mb-4">
        <div class="row">
    <% for(let job of foundJobs){ %>
        <div class="col-4 mt-4 mb-4">
            <div class="card" style="width: 18rem;">
                <img src="<%=job.image %>" class="card-img-top" height="200px">
                <div class="card-body">
                    <h5 class="card-title">
                        <%= job.name %>
                    </h5>
                    <p class="card-text" style="color:black;">
                        <%= job.name %> is an Special Hotel of StaySense. At StaySense we know the value of
                            customer and always apperciate the feedback of customer
                    </p>
                    <a href="/jobs/<%= job._id %>" class="btn btn-primary">Read More</a>
                </div>
            </div>
        </div>
        <% } %>
        </div>
        </div>
<%- include('./partials/footer.ejs') %>